name: Build and Push to Azure Container Registry

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  AZURE_CONTAINER_REGISTRY: ${{ secrets.AZURE_CONTAINER_REGISTRY }}
  IMAGE_NAME: chat-app
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file from secret
        run: 'echo "$ENV" > src/.env'
        shell: bash
        env:
          ENV: ${{ secrets.ENV }}

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v2
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push Docker image
        working-directory: ./src
        run: |
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}.azurecr.io/chat-app:latest .
          docker push ${{ secrets.ACR_LOGIN_SERVER }}.azurecr.io/chat-app:latest

      - name: Output image tags
        run: |
          echo "Pushed image: ${{ secrets.ACR_LOGIN_SERVER }}.azurecr.io/chat-app:latest"